
	/* Hide WP header */
	html
		{
			margin-top: 0 !important;	
		}
	#wpadminbar
		{
			display: none;	
		}
	
	
    .content-area
    {
        width: 100%;
        min-height: 100%;
    }
        a.page1
        {
            height: 100%;
            width: 100%;
			
            position: absolute;
            z-index: 100;
            outline: 0;
        }
	
		a.link
		{
			border: solid #6c6c6c 2px;
			color: #6c6c6c;
			border-radius: 5px;
			padding: 10px 15px;
			transition: all 0.3s;
			text-decoration: none;
		}
			a.link:hover
			{
				background-color: #6c6c6c;
				color: white !important;
				transition: all 0.3s;
			}
	
		a.link.graphic
		{
			border: solid #3d5a73 2px;
			color: #3d5a73;
		}
			
			a.link.graphic:hover
			{
				background-color: #3d5a73;
			}
	
		a.link.web
		{
			border: solid #f16064 2px;
			color: #f16064;
		}
			
			a.link.web:hover
			{
				background-color: #f16064;
			}
	
		a.link.industrial
		{
			border: solid #2ab787 2px;
			color: #2ab787;
		}
			
			a.link.industrial:hover
			{
				background-color: #2ab787;
			}
		
		#page1, #page2
		{
		}
        #page1
        {
            width: 100%;
            height: 100%;
            position: absolute;
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
        }
            #page1 .info
            {
                width: 33.3333%;
                height: 33.3333%;
                position: relative;
                margin: 0 auto;
                top: 33.3333%;
				min-width: 400px;
				

                background-image: url(/img/logo.png);
                background-position: left;
                background-repeat: no-repeat;
                background-size: contain;

            }
				
				#page1 .portlogo
				{
					display: none;
				}

                #page1 .text
                {
                    float: right;
                    position: absolute;
                    right: 0;
                    text-align: right;
                }

                    #page1 .text.name
                    {
                        top: 0;
                        height: 33.333%;
                    }
                        #page1 .text.name .site
                        {
                            font-weight: 600;
                        }

                    #page1 .text.design
                    {
                        position: absolute;
                        bottom: 0;
                        height: 50%;
                        line-height: ;
                    }
            #page1 .portfolio
            {
                width: 33.333%;
                position: absolute;
                bottom: 64px;
                margin-left: 33.333%;
                text-align: center;
            }

                #page1 .portfolio p
                {
                    font-size: 25px;
                    margin: 0 0 10px 0;
                    padding: 0;


                }

                #page1 .portfolio img
                {
                    width: 30px;
                    position: relative;
                }


        #page2
        {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 100%;
            margin-top: -32px;
            font-family: 'Raleway', sans-serif;
        }

            #page2 .column
            {
                width: 33.33333%;
                height: 100%;
                float: left;
                position: absolute;
                webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                -o-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
            }

                #page2 .column.active
                {
                    left: 0;

                }
                    #page2 .column.active:hover
                    {
                        opacity: 1;
                    }

                    #page2 .column.active .sub
                    {
                        width: 66.666%;
                        left: 33.333%;
                        position: absolute;
                    }
                #page2 .column:hover
                {

                cursor: hand;
                cursor: pointer;

                }

                #page2 div.graphic
                {
                    background-color: #1D1D1F;
                    border-top: 32px solid #3D5A73;
                    border-bottom: 32px solid #3D5A73;
                    border-left: none;
                    border-right: none;
                }
                    #page2 div.graphic:hover
                    {
                        background-color: #323d48;
                    }

                    #page2 div.graphic h2{
                        color: #3D5A73;
                    }

                #page2 div.web
                {
                    background-color: #1D1D1F;
                    left: 33.3333%;
                    border-top: 32px solid #EF4A57;
                    border-bottom: 32px solid #EF4A57;
                    border-left: none;
                    border-right: none;
                    
                }
                    #page2 div.web:hover
                    {
                        background-color: #753c3f;
                    }

                    #page2 div.web h2{
                        color: #EF4A57;
                    }

                #page2 div.industrial
                {
                    background-color: #1D1D1F;
                    left: 66.666%;
                    border-top: 32px solid #2AB787;
                    border-bottom: 32px solid #2AB787;
                    border-left: none;
                    border-right: none;
                }
                    #page2 div.industrial:hover
                    {
                        background-color: #366151;
                    }

                    #page2 div.industrial h2{
                        color: #2AB787;
                    }

                #page2 h2
                {
                    width: 100%;%;
                    text-align: center;
                    font-weight: 600;
                    font-size: 50px;
                    top: 20%;
                    position: absolute;
                    padding: 0;
                    margin: 0;
                }

                #page2 div.column img
                {
                    width: 50%;
                    top: 50%;
                    position: relative;
                    left: 25%;
                }

            #page2 .sub
            {
                width: 0;
                height: 100%;
                position: absolute;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                -o-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
                z-index: 100;
                opacity: 0;
                overflow-y:hidden;
            }

                #page2 .subgraphic
                {
                    left: 33.333%;
                }

                #page2 .subweb
                {
                    left: 66.666%;
                }

                #page2 .subindustrial
                {
                    left: 100%;
                }
                #page2 .sub.active
                {
                    width: 66.666%;
                    left: 33.333%;
                    background-color: white;
                    display: block;
                    opacity: 1;
                }

                #page2 .sub .list
                {
                    overflow-y: auto;
                    overflow-x: hidden;
                    margin:  7.5%;
                    width: 80%;
                    height: 80%;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
					
					
                }

                    #page2 .sub.active .list
                    {
                        opacity: 1;
                        transition: all 0.3s ease-in-out;
						
                    }

                    #page2 .sub ul
                    {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }

                        #page2 .sub ul li
                        {
                            width: 40%;
                            height: 40%;
                            margin: 5%;
                            text-align: center;
                            overflow: hidden;
                            float: left;
                            position: relative;
                        }

                            #page2 .sub ul li a
                            {
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index:100;
                                opacity: 0;
                                color: white;
                                text-decoration: none;
                                font-size: 40px;
                                margin-top:-8px;
                                font-weight: 600;
                                background-color: rgba(0,0,0,0.3);
                                webkit-transition: opacity 0.5s ease-in-out;
                                -moz-transition: opacity 0.5s ease-in-out;
                                -o-transition: opacity 0.5s ease-in-out;
                                transition: opacity 0.5s ease-in-out;
                                padding: 15px;
                           }
                                #page2 .sub ul li a:hover
                                {
                                    opacity: 1;
                                    webkit-transition: opacity 0.5s ease-in-out;
                                    -moz-transition: opacity 0.5s ease-in-out;
                                    -o-transition: opacity 0.5s ease-in-out;
                                    transition: opacity 0.5s ease-in-out;
                                }

                                #page2 .sub ul li img
                                {
                                    width: 100%;
                                    height: 100%;
                                    position: relative;
                                    z-index: 0;
                                }
								#page2 .sub ul li.year{
									width: 100%;
									margin: 0  ;
									text-align: left;
								}
									#page2 .sub ul li.year p{
										font-family: 'Raleway', sans-serif;
										font-size: 25px;
										font-weight: 600;
										margin: 0 0 5px 0;
										padding-bottom: 15px;
										border-radius: 1.5px;
										border-bottom: 3px solid rgba(0,0,0,.4);
									}
									#page2 .subgraphic ul li.year p{
										color: #3D5A73 !important;
									}
									#page2 .subweb ul li.year p{
										color: #EF4A57;
									}
									#page2 .subindustrial ul li.year p{
										color: #2AB787;
									}
	
	.mfp-close-btn-in .mfp-close{
		position: absolute;
		margin: 0.75em;
		font-size: 75pt;
		color: rgba(255,255,255,1);
		text-shadow: none;
		box-shadow: none;
		opacity: 1;
	}
		.mfp-close-btn-in .mfp-close:hover{
			color: rgba(0,0,0,0.2);
		}
	
	.mfp-content {
        position: relative;
        background: #FFF;
        padding: 20px;
        width: auto;
        max-width: 1000px;
        margin: 40px auto;
    }
	
	.mfp-content{
		background: transparent;
	}
	
		.mfp-content header{
			color: white;
			background-color: transparent;
		}
	
		.mfp-content h1.entry-title{
			color: white;
			font-size: 50px;
            margin-right: 140px;
			margin-left: 40px;
			font-weight: 600;
			font-family: 'Raleway', sans-serif;
		}
	
		.mfp-content p, .mfp-content h2, .mfp-content h3{
			background-color: white;
			padding: 20px 20px;
			margin: 0 40px;
		}
	
	figure{
		width: 100% !important;
		margin: 0 !important;
	}
		figure img{
			width: 100%;
		}
		
			.wp-caption .wp-caption-text{
				margin: -75px auto 0 auto;
				padding: 25px 0;
				font-family: 'Raleway', sans-serif;
				font-weight: 400;
				font-size: 25px;
				line-height:25px;
				color: white;
				background-color: black;
				position: relative;
				opacity: 0.7;
			}
@media screen and (orientation: portrait) {
	
	#page1 .info {
		background-image: none;
		top: 10%;
		position: relative;
		margin: 0 auto;
		width: 100%;
	 	height: 40%;
		text-align: left !important;
        min-width: 0px;
		
	}
	#page1 .portlogo{
		display: block;
		margin-left: 33.333%;
		width:    33.333% !important;
	}
	#page1 .info .text{
		text-align: center;
		width: 100%;
	}
    
    #page2 .sub{
        height: 0;
    }
    #page2 .sub.active{
        
        height: auto !important;
        min-height: 100%;
        transition: all 0.3s;
    }
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    #page2{
        min-height: 500px;
    }
    
    #page2 .column
    {
        width: 100%;
        height: 33.333%;
        float: none;
        clear: both;
        left: 0 !important;
    }
        #page2 div.graphic{
            top: 0;
            border-left: 32px solid #3D5A73;
            border-right: none;
            border-bottom: none;
            border-top: none;            
        }
        #page2 div.web{
            top: 33.333%;
            border-left: 32px solid #EF4A57;
            border-right:none;
            border-top: none;
            border-bottom: none;             
        }
        #page2 div.industrial{
            top:66.666%;
            border-left: 32px solid #2AB787;
            border-right: none;
            border-bottom: none;
            border-top: none;             
        }
            #page2 div.column h2:first-of-type{
                text-align: left;
                top: 50%;
                margin-top: -37.5px;
                left: 10%;
                width: auto;
            }
            #page2 div.column img{
                width: auto;
                height: 60%;
                float: right;
                left: -10%;
                top:20%;
            }
    #page2 .sub{
        width: 100%;
        height:0;
        left: 0;
        top:33.333%;
    }
    #page2 .sub.active{
        width: 100%;
        left: 0;
        height: 66.666%;
        top: 33.333%;
        position: absolute;
    }
    #page2 .column.active
    {
        top: 0;

    }
    #page2 .sub .list{
        width: 90%;
        margin-left: 5%;
    }
    .mfp-content p, .mfp-content h2, .mfp-content h3{
        margin: 0;
    }
    mfp-bg{
        height: 100%;
        position: fixed;
    }
}

@media screen and (orientation: portrait) and (max-width:600px){
    #page2 div.column img{
        display: none;
    }
    #page2 div.column h2:first-of-type{
        text-align: center;     
        width: 80%;
    }
    #page2 .sub ul li{
        width: 90%;
    }
    
}

@media screen and (orientation: portrait) and (max-width:450px){
    /*.mfp-content h1.entry-title{
        margin-left: 0 !important;
        margin-right: 90px;
    }*/
    .mfp-close-btn-in .mfp-close{
        margin-right: 40px;
    }
    .mfp-content{
        padding:20px 0 !important;
    }
    .mfp-container{
        padding: 0;
    }
}