#loader{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  display: none;
  .load{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(255,255,255,0.5);
    img{
      height: 120px;
      z-index: 1;
      position: absolute;
    }
  }

}
#initLoader{
  background: rgba(0,0,0,1);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  .load{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 300px;
    align-items: center;
    text-align: center;
    img{
      opacity: .5;
      margin-bottom: 1rem;
      width: 10rem;
    }
    h2{
      color: white;
      font-size: 3em;
      // top: calc50%;
      // height: 120px;
      z-index: 1;
    }
  }
}
#loader, #initLoader{

}
.home{
  a{
    color: inherit;
    text-decoration: none;
  }
  #wrapper-index{
    height: 100%;
    width: 100%;

    #background{
      background-color: rgba(0,0,0,1);
      position: fixed;
      top:0;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
    }
    #scroll{
      height: 100%;
      width: 100%;
      z-index: 5;
      position: absolute;
      top: 0; left: 0;
    }
    #grain{
      // background-image: url(../img/film.jpg);
      position: fixed;
      top:0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
  }
  #hero{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: visible;
    pointer-events: none;
    left: 0;
    z-index: 2;
    canvas{
      position: fixed;
      pointer-events: none;
      // width: 100%;
    }
    #logo{
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      top: 0;
      left: 0;
      .svg{
        display: none !important;
      }
      img, object, .module{
        svg{
          height: 100%;
          min-width: 100%;
          overflow: visible;
        }
        height: 100%;
        padding: 15vh;

      }
      .module2{
        display: none;
      }
    }

  }
  #content{
    position: absolute;
    background-color: rgba(255,255,255, 1);
    margin-top: calc(100vh + 400px);
    z-index: 2;
    width: 100%;

    transition: min-height .4s;
    box-shadow: 0px 0px 400px 700px rgba(255,255,255,1);
    .container{
      width: 100%;
      min-height: 100vh;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      position: relative;
    }
    .categories{
      height: auto;
      margin: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      display: flex;
      align-items:center;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column;
      justify-content:space-between;
      max-width: 1000px;
      padding: 2em;
      top: 0;
      .spacer{
        flex: 1;
      }
      .upper{
        width: 100%;
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 5em;
      }
      .lower{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 1rem;
        .page-link{
          // border-bottom: none;
          background-color: transparent !important;
          // padding: 0;
          width: 7.5rem;
          padding: 2rem 0;
          text-align: center;
          h3{
            // padding-bottom: 1rem;
            // border-bottom: 2px solid black;
            margin-bottom: 0;
          }
        }

      }
    }
    .page-link{
      border: none;

      border-bottom: 2px solid black;
      &:hover{
        background-color: transparent;
        color: black;
      }
    }
    .category{
      text-align: center;
      position: relative;
      transition: padding .5s;
      transition: color .3s, fill .3s;
      border-bottom: 2px solid black;
      border-radius: 2px;
      color: black;
      padding: 25px;
      // height: 300px;
      &:after{
        background-color: rgba(0,0,0,1);
        position: absolute;
        transition: height ease-in .3s;
        // border-radius: 999em 999em 0 0;

        content: ' ';
        width: 100%;
        z-index: -1;
        bottom: 0;
        height: 0%;
        left: 0;
      }
      // &:hover{
      //   color: white;
      //   svg{
      //     .gear1, .gear2{
      //       fill: white !important;
      //     }
      //   }
      //   &:after{
      //     height: 110%;
      //
      //   }
      // }
      h3{
        margin: 1em 0 0 0;
      }
      .icon{
        font-size: 4em;
        max-width: 2em;
        margin: 0 auto;
        height: 100px;
        line-height: 1.5em;
        margin-top: 0;
        font-weight: 600;
      }
      &.digital{
        &:hover{
          .icon{
            .tagcontainer{
              .html{
                line-height: 1em;
                margin-right: .1em;
                padding-right: .1em;
                max-width: 300px;
                animation: blink-caret .75s step-end infinite;
                border-right: .05em solid black; /* The typwriter cursor */
              }
            }
          }
          @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: black; }
          }
        }

        .icon{
          .tagcontainer{
            display: flex;
            align-items: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            flex-direction: row;
            .tag{
              display: block;
            }
            .html{
              max-width: 0;
              transition: max-width .3s;
              overflow: hidden;
            }
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
              width: 100%;
            }
          }
        }

      }
      &.industrial{
        svg{
          overflow: visible;
          // height: 100px;
          max-width: 100%;
          display: block;
          box-sizing: content-box;
          .gear1{
            animation: rotate 6s linear infinite normal;
            transform-origin: 28.5px 28.6px;
            fill: black;
          }
          .gear2{
            animation: rotate 4s linear infinite reverse;
            transform-origin: 69.5px 39.8px;
            fill: black;
          }
        }
        &:hover{
          svg{
            .gear1{
              animation: rotate 3s linear infinite reverse;
            }
            .gear2{
              animation: rotate 2s linear infinite normal;
            }
          }
        }
      }
      &.more{
        .icon{
          transition: transform .3s;
          line-height: 1.4em;
        }
        &:hover .icon{
          transform: rotate(180deg);
        }
      }
    }
  }

}
#text{
  transition: top .5s, right .5s;
}
body.cat{
  overflow: hidden;
}
body.cat{
  #page{
    #hero{display: none !important}
    #cat-container{
      opacity: 1;
      background-color: white;
      pointer-events: all;
      .top{
        transform: translateY(0);
      }
    }
    #text{
      top: 20px;
      right: 20px;
      color: black !important;
      font-size: 10px;
      .arrow{
        display: none;
      }
    }
  }
}
#cat-container{
  transition: opacity 1s, background-color 3s;
  background-color: transparent;
  .top{
    height: 100px;
    position: fixed;
    left: 0;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.5);
    z-index: 3;
    overflow: visible;
    width: 100%;
    transform: translateY(-100%);
    transition: transform .2s;
    background-color: white;
    overflow: visible;
    padding: 25px;
    .cross{
      &.close{
        display: block;
      }
      &.up{
        display: none;
      }
      cursor: hand;
      cursor: pointer;
      font-weight: bold;
      svg{
        height: 50px;
        width: 50px;
        float: left;
      }
    }
  }
  top: 0;
  position: fixed;
  padding: 0;
  opacity: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: scroll;
  pointer-events: none;
  #cat-load{
    padding-top: 100px;
    background-color: white;
  }
  .item{
    padding: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transition: top 3s;
    transition: opacity 3s;
    pointer-events: none;
    background-color: white;
    &.show{
      opacity: 1;
      pointer-events: all;
      transition: opacity .5s;
    }

    img{
      width: 100%;
      -webkit-filter: #{'grayscale(100%)'};
      filter: #{'grayscale(100%)'};
      transform: scale(1);
      opacity: .8;
      transition: filter 3s, transform 5s ease-out, opacity .5s;
    }
    &:hover{
      img{
        opacity: 1;
        transform: scale(1.1);
        -webkit-filter: #{'grayscale(0%)'};
        filter: #{'grayscale(0%)'}
      }
    }
  }
}

.fade-in{
  opacity: 0;
  transition: opacity 1s ease-in;
  &.faded{
    opacity: 1;
  }
}

.up-down{
  animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes slideLeft{
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideRight{
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@include media-breakpoint-down(sm) {
 #content{
   .categories{
     height: 100vh !important;
     margin: 0;

     align-items: center;
     padding: 5vh 0 10vh 0;
     .category{
       height: 170px;
       padding: 30px;
       font-size: .5em;
       .icon{
         height: 50px;
         // font-size: 3em;
         max-width: 3em;
       }
       h2{
         font-size: 20px;
         margin-bottom: 1em;
       }
     }
   }
 }

  #logo{
    top: auto !important;
    bottom: 0 !important;
    max-width: 100%;
    align-items: flex-end !important;
    justify-content: flex-end !important;
    .module{
      display: none;
    }
    .module2{
      display: block !important;
      height: auto;
      left: 0;
      padding: 15vw;
      max-width: 100%;
      width: 100%;
      overflow: visible;
      bottom: 0;
      svg{
        overflow: visible !important;
      }
    }
  }
}
@include media-breakpoint-down(xs) {

  #cat-container{
    #cat-load{
      padding-top: 80px;
    }
    .top{
      height: 80px;
      .cross{
        svg{
          height: 30px;
          width: 30px;
        }
      }
    }
  }
  .home{
    #content{
      .categories{
        position: relative !important;
        flex-direction: row !important;
        max-width: 100%;
        .upper, .lower{
          margin-bottom: 0 !important;
          flex-direction: column !important;
          width: 100%;
          .cat-link{
            width: 100%;
          }
          .page-link{
            max-width: 200px;
            width: 100%;

          }
          .category{
            max-width: 200px;
            width: 100%;
            .icon{

            }
          }
        }
      }
    }
  }
}
