body{
  color: black;
  background-color: black;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
div{
  // color: black;
}
p, h1, h2, h3, h4, td{
  font-family: 'Raleway', raleway, sans-serif;
  // color: black;
}

p, h2, h3, h4, td{
  font-weight: 300;
  b, strong{
    font-weight: 600;
  }
}

h1{
  font-weight: 600;
}

#text{
  text-align: right;
  z-index:5;
  position: fixed;
  color: white;
  right: 15vh;
  top:  15vh;
  color: white;
  @include media-breakpoint-down(md) {
    right: 7.5vh;
    top: 7.5vh;
  }
  @include media-breakpoint-down(sm) {
    right: 7.5vh;
    // position: relative;
    top: 7.5vh;
  };
  @include media-breakpoint-down(xs) {
    right: 5vh;
    position: relative;
    top: 5vh;
  }
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 1.5em;
  }
}
.sticky {
    position: -webkit-sticky;
    z-index: 0;
    position: sticky;
    float: left;
}
.sticky:before,
.sticky:after {
    content: ' ';
    display: table;
}


table{
  width: 100%;
  margin: 0 auto;
  tbody{

    tr{
      max-width: 50%;
      td{
        border-bottom: 1px solid rgba(220,220,220,1);
        max-width:100px;
        // border-left: 1px solid black;
        padding: .5rem 1rem;
        a{
          color: #007bff !important;
          text-align: right;
        }
        b{
          &:first-of-type{

          }
          margin-top: 3rem;
          display: block;
          margin-top: 3rem;
        }
      }

    }
  }
}
