iframe{
  margin: 3rem 0;
  width: 100%;
}

figure{
  margin-top: 3rem;
  &.aligncenter{
    margin-top: 3rem;
  }
}
.wp-caption-text{
  font-weight: 500;
  padding: 1rem;
  margin-bottom: 3rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
  // background-color: rgba(0,0,0,0.1);
  text-align: right;
}
#page.project{
  .cross{
    &.out{
      display: none;
    }
    &.up{
      display: block;
    }
  }
  #project-load{
    overflow: visible;
  }
}
  #project-load{
    p{
      a{
        color: #007bff;
      }
    }
    width: 100%;
    display: block;
    pointer-events: all;
    overflow: hidden;
    max-height: 1px;
    // overflow: visible;
    transition: max-height .4s ease-in-out;
  }
    #projectContainer{
      background: white;
      display: flex;
      overflow: visible;
      margin: 0;
      height: 100%;
      padding: 0;
      display: flex;
      padding-top: 200px;
      align-content: center;
      justify-content: space-around;

      #project{
        background-color: $white;
        figure{
          width: 100%;
          max-width: none !important;
          img{
            width: 100%;
          }
        }
      }
      .info{
        top: 130px;
        display: inline-block;
        h1{
          margin-bottom: .8em;
        }
        h3{
          font-size: 1.2em;
          // margin-bottom: 1em;
          b, strong{
            font-weight: 600;
          }
        }
        margin-bottom: 2em;
      }

    }

#page.cat.project{
  #project-load{
    height: auto;
    max-height: 10000%;
    transition: max-height 1s ease-in-out;
    #projectContainer{

    }
  }
}
